<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Exam Clock Control Panel</title>
    <link rel="icon" href="/images/favicon.256.png" type="image/png">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>
</head>
<body>

<script>
    localStorage.debug = 'socket.io-client:socket';
    var socket = io();
    socket.on('connect', () => { // initial connection
        socket.emit('controller_connected', socket.id); // tell server ima controller
        console.log("Socket ID", socket.id);
        console.log("Session ID", "{{sessionID}}");
    });
</script>
{{{body}}}
</body>
</html>