<script>
    setActive('help');
</script>
<style>

</style>
<article>
    <h2>Help</h2>
    <pre>Not added yet</pre>

    <a href="https://github.com/appventure-nush/exam-clock-2020/releases">
        <img alt="GitHub release (latest by date including pre-releases)"
             src="https://img.shields.io/github/v/release/appventure-nush/exam-clock-2020?include_prereleases">
    </a>
</article>