<form action="/" method="post">
    <label for="nick">Nickname (Only for verification): </label>
    <input id="nick" name="nick" placeholder="Anything"/><br>
    <label for="clockID">Clock ID: </label>
    <input id="clockID" name="clockID" placeholder="XXXXXX"/><br>
    <input type="submit" value="Connect"/>
</form>
<script>
    let respondedAndAccepted = false;
    const inputNK = document.getElementById("nick");
    const inputCID = document.getElementById("clockID");
    inputNK.value = localStorage.getItem("nick");
    inputCID.value = localStorage.getItem("clockID");

    // fetch("/clocks").then(res => res.json()).then(clocks => console.log("Clocks", clocks));
    socket.on('request_callback', response => {
        console.log("Request has been responsed with", response);
        if (response === "accepted") {
            respondedAndAccepted = true;
            $('form').submit();
        } else if (response === "rejected") {
            respondedAndAccepted = false;
            alert("You have been rejected!");
        } else if (response === "not_found") {
            respondedAndAccepted = false;
            alert("Clock not found!");
        }
    });

    $('form').submit(e => {
        localStorage.setItem("nick", inputNK.value);
        localStorage.setItem("clockID", inputCID.value);
        if (!respondedAndAccepted) {
            e.preventDefault();
            socket.emit("request", inputCID.value, inputNK.value);
            return false;
        } else return true;
    });
</script>
{{#if error}}
    <h4>Your key is that of a clock of another universe</h4>
{{/if}}