<style>
    .container {
        width: 340px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/favicon.256.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Control Panel
    </a>
</nav>
<form action="/" method="post" class="login-form">
    <a class="btn btn-block btn-outline-primary" href="/auth/microsoft">
        <img src="/images/microsoft.svg" width="24" height="24" alt="">
        Sign in with Microsoft
    </a>
</form>