#secondGroup * {
    -fx-stroke: #aa000000;
    -fx-fill: #cc0000;
}

.clock-element {
    -fx-stroke: derive(-fx-foreground, 20%);
    -fx-fill: derive(-fx-foreground, 10%);
}

.clock-element-empty {
    -fx-stroke: derive(-fx-foreground, 20%);
    -fx-fill: derive(-fx-background, 20%);
}

.jfx-hamburger StackPane {
    -fx-background-color: -fx-foreground;
}

.exam-holder:started {
    -fx-background-color: #00ff0022;
}

.exam-code {
    -fx-font-weight: bold;
}

.exam-name, .exam-code {
    -fx-font-size: 1.2em;
}

.time-left {
    -fx-font-family: monospace;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-padding: 3px;
}

.window-buttons, #toolbar {
    -fx-font-size: 14px;
}

#toiletIconParent {
    -fx-background-color: green;
}

#toiletIconParent.occupied {
    -fx-background-color: red;
}