.root {
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-foreground-lighter;
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-foreground-light;
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-foreground;
}

.toggle-switch:selected .thumb-area {
    -fx-text-box-border: -fx-accent;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), linear-gradient(to bottom, derive(-fx-accent, 30%), -fx-accent);
}

.opaque {
    -fx-background-color: -fx-background;
}

.elevated {
    -fx-background-color: -fx-control-inner-background;
}

.primary-raised {
    -jfx-button-type: RAISED;
    -jfx-disable-visual-focus: true;
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

.red {
    -fx-background-color: -fx-error;
}

.jfx-radio-button {
    -jfx-selected-color: -fx-accent;
}